.footer{
     border: 2px solid black;
     height: 50px;
     color: white;
     background-color: teal;
     /* padding: 30px; */
     margin: auto 0px;
     padding: 0px;
     text-align: center;
     


     
}
.text{
     margin: auto;
     margin: 12px;

}
 
 